<div class="moment" *ngIf="moment">
  <h2>{{ moment.title }}</h2>
  <img src="{{baseApiUrl}}uploads/{{moment.image}}" alt="{{moment.title}}">
  <div class="about-container">
    <h2>About this moment</h2>
    <p>{{ moment.description }}</p>
  </div>
  <div class="actions">
    <h2>Actions: </h2>
    <button class="edit-btn">
      <a routerLink="/moments/edit/{{moment.id}}">
        <fa-icon [icon]="faedit"></fa-icon> Edit
      </a>

    </button>
    <button class="remove-btn" (click)="removeHandler(moment.id!)">
     <fa-icon [icon]="fatimes"></fa-icon>  Delete
    </button>
  </div>
  <div class="comments">
    <h2>Comments: {{moment.comments!.length > 0 ? moment.comments!.length : 0}}</h2>
    <div *ngIf="moment.comments!.length > 0; else noComments">
      <div class="comment-container" *ngFor="let comment of moment.comments">
        <p class="comment"> {{ comment.text}}</p>
        <p class="author"><span>By: </span> {{comment.username}}</p>
      </div>
    </div>
    <ng-template #noComments>
      <p>No comments yet.</p>
    </ng-template>
  </div>
  <div class="comment-form">
    <h3>Let a comment for this pic.</h3>
    <form [formGroup]="commentForm" #formDir="ngForm" (ngSubmit)="onSubmit(formDir)">
      <div class="form-group">
        <label for="text">Comment:</label>
        <textarea  formControlName="text" placeholder="Write your comment for this pic." required></textarea>
        <div *ngIf="text.invalid && formDir.submitted" class="validation-error">
          <p *ngIf="text.errors?.['required']">Some text is required.</p>
        </div>
      </div>
      <div class="form-group">
        <label for="username">Name:</label>
        <input formControlName="username" type="text" placeholder="Your name" required>
        <div *ngIf="username.invalid && formDir.submitted" class="validation-error">
          <p *ngIf="username.errors?.['required']">Name is required.</p>
        </div>
      </div>
      <input type="submit" value="submit">
    </form>
  </div>
</div>

