img{
  width: 80px;
  height: 80px;
  margin-right: 0.6em;
}
nav{
  display: flex;
  justify-content: space-between;
  padding: 1em;
  border-bottom: 1px solid #444;
}
.brand, .links{
  display: flex;
  justify-content: center;
  align-items: center;
}
.brand:hover h2{
  color: #dec129;
}
.links li{
  margin-right: 1em;
  list-style: none;
}
#add a{
  color: #dec129;
}
#add a:hover{
  text-shadow: 0.5px 1px black;
}
