<div class="home-container">
  <h2>Some nice animals pics to make your day better!</h2>
  <div class="search-container">

    <form>
      <fa-icon [icon]="faSearch"></fa-icon><input type="text" placeholder="Search for a moment" (input)="search($event)">
    </form>
  </div>
  <div *ngIf="moments.length > 0;  else noMoments">
    <div class="moments-container">
      <div class="moment" *ngFor="let moment of moments">
        <img src="{{baseApiUrl}}uploads/{{moment.image}}" alt="{{moment.title}}">
        <h2>{{ moment.title }}</h2>
        <p class="date">{{moment.created_at}}</p>
        <p>Commments: {{ moment.comments!.length }}</p>
        <p><a routerLink="moments/{{moment.id}}">Details</a></p>
      </div>
    </div>
  </div>
  <ng-template #noMoments>
    <h2>No moments yet :(</h2>
  </ng-template>
</div>
